<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean name = "id_generator" class = "one.maistrenko.shop.idGenerator.IdGeneratorImpl">

    </bean>

    <bean name = "user_service" class = "one.maistrenko.shop.user.UserServiceImpl">
        <constructor-arg index="0" ref="id_generator"></constructor-arg>
    </bean>

    <bean name = "product_service" class = "one.maistrenko.shop.product.ProductServiceImpl">
        <constructor-arg index="0" ref="id_generator"></constructor-arg>
    </bean>

    <bean name = "basket_service" class="one.maistrenko.shop.basket.BasketServiceImpl">
        <constructor-arg index="0" ref="id_generator"></constructor-arg>
    </bean>

    <bean name = "basket_for_user" class="one.maistrenko.shop.user.basketforuser.BasketForUserImpl">
        <constructor-arg index="0" ref="basket_service"></constructor-arg>
    </bean>

</beans>